@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #d9d9d9;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .relative #card:nth-child(1) {
    transform: translate3d(-200px, 0, 0) scale(0.7) rotateY(25deg);
    z-index: 1;
  }
  .relative #card:nth-child(2) {
    transform: translate3d(-150px, 0, 0) scale(0.8) rotateY(25deg);
    z-index: 2;
  }
  .relative #card:nth-child(3) {
    transform: translate3d(-100px, 0, 0) scale(0.9) rotateY(15deg);
    z-index: 3;
  }
  .relative #card:nth-child(4) {
    transform: translate3d(0px, 0, 0) scale(1) rotateY(0deg);
    z-index: 4;
  }
  .relative #card:nth-child(5) {
    transform: translate3d(100px, 0, 0) scale(0.9) rotateY(-15deg);
    z-index: 3;
  }
  .relative #card:nth-child(6) {
    transform: translate3d(150px, 0, 0) scale(0.8) rotateY(-25deg);
    z-index: 2;
  }
  .relative #card:nth-child(7) {
    transform: translate3d(200px, 0, 0) scale(0.7) rotateY(-25deg);
    z-index: -1;
  }
  div section:nth-child(even) {
    background: #694bd1;
  }
  div footer #waves div {
    background: url("/images/wave.png");
    background-size: 1000px 100px;
  }
  #wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0px;
    animation: animate 4s linear infinite;
  }
  #wave3 {
    z-index: 999;
    opacity: 0.2;
    bottom: 15px;
    animation: animate 3s linear infinite;
  }
  #wave2 {
    z-index: 998;
    opacity: 0.5;
    bottom: 10px;
    animation: animate2 4s linear infinite;
  }
  #wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate2 3s linear infinite;
  }
  @keyframes animate {
    0% {
      background-position: 1000px;
    }
    100% {
      background-position: 0;
    }
  }
  @keyframes animate2 {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: 1000px;
    }
  }
}
