ul li:hover {
  background-color: #33a3ee;
  transform: translateX(50px);
}

ul li:hover::before {
  background-color: #1f5378;
}

ul li:hover::after {
  background-color: #2982b9;
}

ul li:last-child:after {
  box-shadow: -120px 120px 20px rgba(0, 0, 0, 0.25);
}

ul li {
  transition: 0.5s;
}
